/**
* landing.scss
*
* This file contains all the style of this simple application
* the chosen minimalistic and retro style selected tries to
* transmit playfulness and fun through 'hand written' like
* fonts and boxes.
*
 Layout Landing  */
.l-landing {
  font-family: "Skranji", cursive;
  background-color: $color-yellow;
  height: 100vh;
  position: relative;
  display: grid;

  .l-landing-hero {
    grid-row-start: 1;
    padding-top: 10%;
    height: 30vh;

    &__title-1 {
      color: $color-green-bright;
      font-size: 64px;
      margin-left: 5px;
      padding-top: 18px;
    }

    &__title-2 {
      color: $color-purple-bright;
      font-size: 64px;
      margin-left: 27px;
      padding-top: 24px;
    }

    &__subtitle {
      padding-top: 36px;
      font-size: 24px;
      text-align: center;
      -webkit-text-fill-color: $color-white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }

    &__main {
      position: relative;
      width: 100%;
      display: grid;
      grid-row-start: 2;

      .l-landing-hero-main__image {
        width: 100%;
        transform: scale(1.4);
        z-index: 1;
      }

      .l-landing-hero-main__image-shadow {
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-40px) scale(1.8);
      }
    }

    &__action {
      display: grid;
      grid-template-columns: auto auto;
      grid-row-start: 3;
      position: absolute;
      bottom: 0%;
      height: 60px;
      width: 100%;
      justify-content: center;

      .landing-text {
        font-family: "Slackey", sans-serif;
        font-size: 48px;
        color: $color-red-bright;
      }

      .landing-image {
        transform: rotate(-90deg);
      }
    }
  }
}
